<div id="<%= dom_id order %>">
  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Placed at:</strong>
    <%= order.placed_at %>
  </p>

  <p>
    <strong>Processed by:</strong>
    <%= order.processed_by %>
  </p>

  <p>
    <strong>Processed at:</strong>
    <%= order.processed_at %>
  </p>

  <p>
    <strong>Expected delivery date:</strong>
    <%= order.expected_delivery_date %>
  </p>

  <p>
    <strong>Actual delivery date:</strong>
    <%= order.actual_delivery_date %>
  </p>

  <p>
    <strong>Sub total:</strong>
    <%= order.sub_total %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= order.discount %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= order.tax %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= order.total_amount %>
  </p>

</div>
