<h1>Shopping Cart</h1>
<ul>
  <%@cart.each do|product|%>
    <li>
      <div class="row">
        <%=product.name%> 
        <%if product.image.present?%>
          <p><%=image_tag product.image%></p>
        <%end%>
        <%= form_tag shopping_cart_path(product.id), method: :put do %>
          <%= text_field_tag :quantity, session[:cart][product.id] %>
          <%= submit_tag 'Update'%>

        <%end%>
      <p><%= button_to 'Remove From Cart', remove_from_cart_shopping_cart_path(product.id),  method: :delete%></p>
      </div>
    </li>
  <%end%>
</ul>
<h1><p><%= link_to 'Checkout', nil, class:'btn btn-center'%></h1>
