<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Purchase price:</strong>
    <%= product.purchase_price %>
  </p>

  <p>
    <strong>Tax rate:</strong>
    <%= product.tax_rate %>
  </p>

  <p>
    <strong>Bin code:</strong>
    <%= product.bin_code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= product.discount %>
  </p>

  <p>
    <strong>Selling price:</strong>
    <%= product.selling_price %>
  </p>

</div>
