<%= turbo_stream.prepend "products" do%>
   <%= turbo_frame_tag @product do%>
      <div class="card" >
        <div class="card-body ">
          <div class="row" style="text-align:center;">
            <div class="col-3"></div>
            <div class="col-6">
              <h3> Name:   <%= @product.name%> </h3>
              <h5> Description:  <%= @product.description%>  </h5>
              <h5> Price:  <%= @product.price%>  </h5>              
                <div class="row">
                    <div class="col-6">
                        <%= link_to "Edit That product" , edit_product_path(@product) , class:"btn btn-secondary btn-sm"%>
                    </div>
                    <div class="col-6">
                        <%= link_to "Delete That product" , product_path(@product) ,data: {turbo_method: :delete}, class:"btn btn-danger btn-sm"%>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
   <%end%>
<%end%>

<%= turbo_stream.update Product.new do%>
  <%= link_to "Add new product" , new_product_path , class:"btn btn-primary btn-lg"%>
<%end%>